<% if @message.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@message.errors.count, "error") %></h2>
 
    <ul>
    <% @message.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2>Contact Us</h2>

<%= form_tag "/messages", multipart: true, method: :post do %>

  <div><%= label_tag "Name" %></div>
  <div><%= text_field_tag :name %></div>

  <div><%= label_tag "Email Address" %><div>
  <div><%= text_field_tag :email %></div>

  <div><%= label_tag "Subject" %></div>
  <div><%= text_field_tag :subject %></div>

  <div><%= label_tag "Message" %></div>
  <div><%= text_area_tag :content, nil, :size => "50 x 3" %></div>
  
  <div class="hidden"><%= text_field_tag :nickname %></div><br>

 <%= button_tag "Send Message", :class => "back-button btn btn-default" %>

<% end %>