<h1><%= @sg_db_venue.name %></h1>
<br>
<div id="venue-default-photo">
  <% if @sg_db_venue.image != "" %>
    <%= image_tag @sg_db_venue.image, :style => 'max-height: 300px;' %>
  <% else %>
    <%= image_tag('image-unavailable.png') %>
  <% end %>
</div>

<div id="venue-info">
  <h5 id="address">Address: <%= @sg_db_venue.full_address %></h5>
  <% if @sg_db_venue.phone %>
    <h5 id="phone">Phone Number: <%= @sg_db_venue.phone %></h5>
  <% end %>
  <% if @sg_db_venue.website != "" %>
    <h5 id="website"><%= link_to "Venue Website", @sg_db_venue.website %></h5>
  <% end %>
</div>

<a href="/sg_db_venues/<%= @sg_db_venue.id %>/sg_seats" role="button" class="back-button btn btn-default">Seating Chart</a>
<a href="/sg_db_venues/<%= @sg_db_venue.id %>/sg_reviews/new" role="button" class="back-button btn btn-default">Add Review</a>

<% if current_user && current_user.admin || current_user && current_user.id == @sg_db_venue.user_id %>
  <br><br>
  <a data-confirm="Are you sure you want to edit this venue?" href="/sg_db_venues/<%= @sg_db_venue.id %>/edit" rel="nofollow" role="button" class="btn btn-default btn-xs active">Edit Venue</a>
  <a data-confirm="Are you sure you want to delete this venue?" data-method="delete" href="/sg_db_venues/<%= @sg_db_venue.id %>" rel="nofollow" role="button" class="btn btn-default btn-xs active">Delete Venue</a>
<% end %>

<h3>Upcoming Events</h3>
<% if current_user && current_user.admin || current_user && current_user.id == @sg_db_venue.user_id %>
  <%= link_to "Add New Event", "/sg_db_venues/#{@sg_db_venue.id}/sg_events/new", :class =>"btn btn-default btn-xs active" %>
<% end %>

<table>
  <tr>
    <th>Show</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
<% @sg_events.each do |sg_event| %>
  <tr>
    <td><%= sg_event["title"] %></td> 
    <td><%= sg_event["datetime_local"].to_datetime.strftime("%b %e, %Y") %></td>
    <td><%= sg_event["datetime_local"].to_datetime.strftime("%I:%M %p") %></td>
    <td><%= link_to "Buy Tickets", sg_event["url"] %></td>
  </tr>
<% end %>
</table>

<h3>Venue Reviews</h3>

<% if @sg_reviews == [] %>
  <p>No reviews for this venue at this time</p>
<% else %>
  <% @sg_reviews.each do |sg_review| %>
    <div> 
      "<%= sg_review.content %>"
      <% if current_user && current_user.admin || current_user && current_user.id == sg_review.user_id %>
        <%= link_to "edit review", "/sg_db_venues/#{@sg_db_venue.id}/sg_reviews/#{sg_review.id}/edit", :class =>"btn btn-default btn-xs active" %>
        <a data-confirm="Are you sure you want to delete this review?" data-method="delete" href="/sg_db_venues/<%= sg_review.sg_db_venue_id %>/sg_reviews/<%= sg_review.id %>" rel="nofollow" role="button" class="btn btn-default btn-xs active">delete review</a>
      <% end %>
      <hr style="margin-top:8px;">
    </div>
  <% end %>
<% end %>

<h3>Restaurants Nearby</h3>

<div id="map" style="width: 500px; height: 400px">
</div>

<div id="restaurant-results">

<% @gp_restaurants.each do |gp_restaurant| %>
  <div>
    <h4><%= link_to gp_restaurant.name, "/restaurant_details/#{gp_restaurant.place_id}" %></h4> 
    <%= gp_restaurant.vicinity %><br>
   Price Level:
    <% if gp_restaurant.price_level && gp_restaurant.rating %>
      <%= @price_level * gp_restaurant.price_level.to_i %> || Rating: <%= gp_restaurant.rating %>
    <% elsif gp_restaurant.price_level %>
      <%= @price_level * gp_restaurant.price_level.to_i %> || Rating: unavailable
    <% else %>
      unavailable || Rating: <%= gp_restaurant.rating %>
    <% end %>
    <br>
    Distance from venue: <%= Geocoder::Calculations.distance_between([@sg_db_venue.latitude,@sg_db_venue.longitude], [gp_restaurant.lat,gp_restaurant.lng]).round(3) %> miles
  </div>
<% end %>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?&key=<%= ENV['google_maps_js_key'] %>"></script><script type="text/javascript">
    var venueLat = <%= @sg_db_venue.latitude %>;
    var venueLon = <%= @sg_db_venue.longitude %>;
    var markers = [];

    <% @gp_restaurants.each do |gp_restaurant| %>
      var hash = {
        "title": '<%= gp_restaurant.name %>',
        "lat": '<%= gp_restaurant.lat %>',
        "lng": '<%= gp_restaurant.lng %>',
        "description": '<%= gp_restaurant.name %> <br><%= gp_restaurant.vicinity %>'
      };

      markers.push(hash);
    <% end %>

    window.onload = function () {
        LoadMap();
    }
    function LoadMap() {
        var mapOptions = {
            center: new google.maps.LatLng(venueLat, venueLon),
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        //Create and open InfoWindow.
        var infoWindow = new google.maps.InfoWindow();

        for (var i = 0; i < markers.length; i++) {
            var data = markers[i];
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title
            });

            //Attach click event to the marker.
            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                    infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
                    infoWindow.open(map, marker);
                });
            })(marker, data);
        }
    }
</script>








