<h2>Seat Photos</h2>

<h3>
Section: <%= @sg_seat.seat_section %>
<br>Row: <%= @sg_seat.seat_row %>
<br>Seat: <%= @sg_seat.seat_number %>
<br></h3>
<br>
<% unless @sg_seat_photos[0] %>
  <p>No photos for this seat yet!</p>
<% end %>

<% if user_signed_in? %>
  <br>
  <p><a href="/sg_seats/<%= @sg_seat.id%>/sg_seat_photos/new" rel="nofollow" role="button" class="btn btn-default back-button">Add Seat Photo</a>
  <a href="/sg_db_venues/<%= @sg_seat.venue_id %>/seats" role="button" class="back-button btn btn-default">Back to Seating Chart</a>
  <% if current_user.admin || current_user.id == @sg_seat.sg_db_venue.user_id %>
    <%= link_to "Edit Seat", "/sg_db_venues/#{@sg_seat.sg_db_venue_id}/sg_seats/#{@sg_seat.id}/edit", :class =>"btn btn-default back-button" %>
    <a data-confirm="Are you sure you want to delete this seat?" data-method="delete" href="/sg_db_venues/<%= @sg_seat.sg_db_venue_id %>/sg_seats/<%= @sg_seat.id %>" rel="nofollow" role="button" class="btn btn-default back-button">Delete Seat</a></p>
  <% end %>
<% end %>

<% @sg_seat_photos.each do |sg_seat_photo| %>
  <div>
    <%= image_tag sg_seat_photo.image.medium.url %>
    <br><%= sg_seat_photo.sg_seat.seat_section %>, Row: <%= sg_seat_photo.sg_seat.seat_row %>, Seat: <%= sg_seat_photo.sg_seat.seat_number%>
    <br><em>"<%= sg_seat_photo.caption %>"</em>
  <div>



<% end %>

</body>
</html>
