<% if @sg_seat && @sg_seat.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@sg_seat.errors.count, "error") %></h2>
 
    <ul>
    <% @sg_seat.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2>Add New Seat Information for <%= @sg_db_venue.name %></h2>

<%= form_tag "/sg_db_venues/#{@sg_db_venue.id}/sg_seats", method: :post do %>

  <div><%= label_tag "Section" %></div>
  <div><%= text_field_tag :seat_section, @sg_seat.seat_section %></div>
  <div><%= label_tag "Row" %></div>
  <div><%= text_field_tag :seat_row, @sg_seat.seat_row %></div>
  <div><%= label_tag "Seat Number" %></div>
  <div><%= text_field_tag :seat_number, @sg_seat.seat_number %></div>
  <div><%= label_tag "Row Id:" %></div>
  <div><%= text_field_tag :sg_row_id, @sg_seat.sg_row_id %></div>
  <div><%= label_tag "Section Id:" %></div>
  <div><%= text_field_tag :sg_section_id, @sg_seat.sg_section_id %></div>
  <div><%= label_tag "Seat X Offset Value:" %></div>
  <div><%= text_field_tag :x_offset, @sg_seat.x_offset %></div>
  <div><%= label_tag "Seat Y Offset Value:" %></div>
  <div><%= text_field_tag :y_offset, @sg_seat.y_offset %></div>
  <div><%= hidden_field_tag :sg_venue_id, @sg_db_venue.id %></div>
  <div><%= hidden_field_tag :sg_db_venue_id, @sg_db_venue.id %></div>

  <div>
    <%= button_tag "Submit", :class => "back-button btn btn-default" %>
    <a href="/sg_db_venues/<%= @sg_db_venue.id %>" role="button" class="back-button btn btn-default">Back to Venue</a>
    <a href="/sg_db_venues/<%= @sg_db_venue.id %>/sg_seats" role="button" class="back-button btn btn-default">Back to Seating Chart</a>
  </div>s

<% end %> 
