<h1><%= @sg_venue.name %></h1>

<div id="venue-default-photo">
<% if @sg_venue.image %>
  <%= image_tag @sg_venue.image, :style => 'max-height: 300px;' %>
<% else %>
  <%= image_tag('image-unavailable.png') %>
<% end %>
</div>

<h4>Address: <%= @sg_venue.full_address %></h4>
<% if @sg_venue.phone %>
  <h4>Phone Number: <%= @sg_venue.phone %></h4>
<% end %>

<% if @sg_venue.website %>
  <h4><%= link_to "Visit Venue Website", @sg_venue.website %></h4>
<% end %>

<h4>Seating Information Not Currently Available</h4>

<% if current_user && current_user.admin %>
  <%= link_to "Create Venue Using SG Information", "/sg_venues/new/#{@sg_venue.id}", :class =>"btn btn-default btn-xs active" %>
<% end %>

<h3>Upcoming Events</h3>

<table>
  <tr>
    <td><strong>Show</strong></td>
    <td><strong>Date</strong></td>
    <td><strong>Time</strong></td>
  </tr>
<% @sg_events.each do |sg_event| %>
  <tr>
    <td><%= sg_event["title"] %></td>
    
    <td><%= sg_event["datetime_local"].to_datetime.strftime("%b %e, %Y") %></td>
    <td><%= sg_event["datetime_local"].to_datetime.strftime("%I:%M %p") %></td>
    <td><%= link_to "Buy Tickets", sg_event["url"] %></td>
  </tr>
<% end %>
</table>

<h3>Venue Reviews</h3>
  <p>No reviews for this venue at this time</p>

<h3>Restaurants Nearby</h3>

<div id="dvMap" style="width: 500px; height: 400px">
</div>

<div id="restaurant-results">

<% @gp_restaurants.each do |gp_restaurant| %>
  <div>
    <%= link_to gp_restaurant.name, "/restaurant_details/#{gp_restaurant.place_id}" %> 
    <p><strong><%= gp_restaurant.vicinity %> </strong>
    <br>Price Level:
    <% if gp_restaurant.price_level && gp_restaurant.rating %>
      <%= @price_level * gp_restaurant.price_level.to_i %> | Rating: <%= gp_restaurant.rating %>
    <% elsif gp_restaurant.price_level %>
      <%= @price_level * gp_restaurant.price_level.to_i %> | Rating: unavailable 
    <% else %>
      unavailable | Rating: <%= gp_restaurant.rating %>
    <% end %>
    <br>Distance from venue: <%= Geocoder::Calculations.distance_between([@sg_venue.latitude,@sg_venue.longitude], [gp_restaurant.lat,gp_restaurant.lng]).round(3) %> miles</p>
  </div>
<% end %>
</div>

<footer><%= image_tag "https://developers.google.com/places/documentation/images/powered-by-google-on-white.png" %></footer>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?&key=<%= ENV['google_maps_js_key'] %>"></script>
<script type="text/javascript">
    var venueLat = <%= @sg_venue.latitude %>;
    var venueLon = <%= @sg_venue.longitude %>;
    var markers = [];

    <% @gp_restaurants.each do |gp_restaurant| %>
      var hash = {
        "title": '<%= gp_restaurant.name %>',
        "lat": '<%= gp_restaurant.lat %>',
        "lng": '<%= gp_restaurant.lng %>',
        "description": '<%= gp_restaurant.name %> <br><%= gp_restaurant.vicinity %>'
      };

      markers.push(hash);
    <% end %>

    window.onload = function () {
        LoadMap();
    }
    function LoadMap() {
        var mapOptions = {
            center: new google.maps.LatLng(venueLat, venueLon),
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

        //Create and open InfoWindow.
        var infoWindow = new google.maps.InfoWindow();

        for (var i = 0; i < markers.length; i++) {
            var data = markers[i];
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title
            });

            //Attach click event to the marker.
            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                    infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
                    infoWindow.open(map, marker);
                });
            })(marker, data);
        }
    }
</script>

