<h2><%= @sg_venue.name %></h2>

<div id="venue-default-photo">
<% if @sg_venue.image %>
  <%= image_tag @sg_venue.image, :style => 'max-height: 300px;' %>
<% else %>
  <img style="max-width: 200px;" src="http://s23.postimg.org/h1xvhiszf/image_coming_soon_gray_bg.png"/>
<% end %>
</div>

<h4>Address: <%= @sg_venue.full_address %></h4>
<% if @sg_venue.phone %>
  <h4>Phone Number: <%= @sg_venue.phone %></h4>
<% end %>

<% if @sg_venue.website %>
  <h4><%= link_to "Visit Venue Website", @sg_venue.website %></h4>
<% end %>

<h4>Seating Information Not Currently Available</h4>

<% if current_user && current_user.admin %>
  <%= link_to "Create Venue Using SG Information", "/sg_venues/new/#{@sg_venue.id}", :class =>"btn btn-default btn-xs active" %>
<% end %>

<h3>Restaurants Nearby</h3>
<% @google_restaurants.each do |google_restaurant| %>
  <div>
    <%= link_to google_restaurant.name, "#{google_restaurant.url}" %>
    <p><%= google_restaurant.vicinity %> 
    <br>Price Level: <%= @price_level * google_restaurant.price_level.to_i %> | Rating: <%= google_restaurant.rating %></p>
    <hr>
  </div>
<% end %>

