<div id="seat-photo-index" class="row">
  <div id="seat-info-full">
    <h1>Seat Photos</h1>
    <br><br>
    <div id="seat-info" class="col-md-6 row">
      <h3>Section: <%= @seat.seat_section %>
      <br>Row: <%= @seat.seat_row %>
      <br>Seat: <%= @seat.seat_number %>
      <br></h3>
  
      <div id="photo-buttons" >
        <a href="/venues/<%= @seat.venue_id %>/seats" role="button" class="back-button btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Seating Chart</a>
        <% if user_signed_in? %>
          <a href="/seats/<%= @seat.id %>/seat_photos/new" role="button" class="back-button btn btn-default">Add Seat Photo</a>
        <% end %>
        <% if current_user && current_user.admin || current_user && current_user.id == @seat.venue.user_id %>
          <%= link_to "Edit Seat", "/venues/#{@seat.venue_id}/seats/#{@seat.id}/edit", :class =>"btn btn-default back-button" %>
          <a data-confirm="Are you sure you want to delete this seat?" data-method="delete" href="/venues/<%= @seat.venue_id %>/seats/<%= @seat.id %>" rel="nofollow" role="button" class="btn btn-default back-button">Delete Seat</a>
        <% end %>
      </div>
    </div>
  </div>

  <div id="photo-display" class="col-md-6 row">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">

      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <% (@seat_photos.size - 1).times do %>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <% end %>
      
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
      <% if @seat_photos[0] %>
        <img src="<%= @seat_photos[0].image.medium.url %>">
      <% else %>
        <%= image_tag('no_photos_500.png') %>
      <% end %>
      <% if @seat_photos && @seat_photos[0] && @seat_photos[0].caption %>
        <div class="carousel-caption"><%= @seat_photos[0].caption %></div>
      <% end %>
      </div>

    <% @seat_photos.each_with_index do |photo, index| %>

      <% if index != 0 %>
        <div class="item">
          <img src="<%= photo.image.medium.url %>" alt="...">
          <% if photo && photo.caption %>
            <div class="carousel-caption"><%= photo.caption %></div>
          <% end %>
        </div>   
      <% end %>

    <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  </div>
  <br>
</div>



