<h2>Seat Photos</h2>
<h3>
Section: <%= @seat.seat_section %>
<br>Row: <%= @seat.seat_row %>
<br>Seat: <%= @seat.seat_number %>
<br></h3>

<% if user_signed_in? %>
  <br>
  <p><a href="/seats/<%= @seat.id %>/seat_photos/new" rel="nofollow" role="button" class="btn btn-default btn-xs active">add seat photo</a>
  <% if current_user.admin || current_user.id == @seat.venue.user_id %>
    <%= link_to "edit seat", "/venues/#{@seat.venue_id}/seats/#{@seat.id}/edit", :class =>"btn btn-default btn-xs active" %>
    <a data-confirm="Are you sure you want to delete this seat?" data-method="delete" href="/venues/<%= @seat.venue_id %>/seats/<%= @seat.id %>" rel="nofollow" role="button" class="btn btn-default btn-xs active">delete seat</a></p>
  <% end %>
<% end %>



<% @seat_photos.each do |seat_photo| %>
  <div>
    <%= image_tag seat_photo.image.medium.url %>
    <br><%= seat_photo.seat.seat_section %>, Row: <%= seat_photo.seat.seat_row %>, Seat: <%= seat_photo.seat.seat_number%>
    <br><em>"<%= seat_photo.caption %>"</em>
  <div>



<% end %>




