<% if @seat_photo.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@seat_photo.errors.count, "error") %></h2>
    <ul>
    <% @seat_photo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2>Add New Photo for Seat</h2>
<h3>
Section: <%= @seat.seat_section %>
<br>Row: <%= @seat.seat_row %>
<br>Seat: <%= @seat.seat_number %>
<br></h3>

<%= form_tag "/seats/#{@seat.id}/seat_photos", multipart: true, method: :post do %>

  <div><%= label_tag "Upload Image" %></div>
  <div><%= file_field_tag :image %></div><br>
  <div><%= label_tag "Photo caption" %></div>
  <div><%= text_field_tag :caption, @seat_photo.caption %></div>
  <div><%= hidden_field_tag :default_photo, @seat_photo.default_photo %></div>
  <div><%= hidden_field_tag :seat_id, @seat.id %></div>

  <div><%= submit_tag "Submit Photo" %></div>

<% end %> 