

<%= form_tag '/venues/:venue_id/events', method: :post do %>

  <div>
    <p class="label_tag"><%= label_tag "Name:" %></p>
    <%= text_field_tag :name, @event.name %>
  </div>

  <div>
    <p class="label_tag"><%= label_tag "Featured Performers:" %></p>
    <%= text_field_tag :featured_performers, @event.featured_performers %>
  </div>

  <div>
    <p class="label_tag"><%= label_tag "Event Type:" %></p>
    <%= text_field_tag :event_type, @event.event_type %>
  </div>

  <div>
    <%= hidden_field_tag :venue_id, @venue.id %>
  </div>

  <div id="submit-new"><%= submit_tag "Submit Event" %></div>

<% end %>