<h1>All Scheduled Events </h1>

<% @scheduled_events.each do |scheduled_event| %>
  <h3><%= link_to scheduled_event.event.name, "/venues/#{scheduled_event.venue_id}/events/#{scheduled_event.event_id}/scheduled_events/#{scheduled_event.id}" %></h3>
  <h5><%= scheduled_event.venue.name %> | <%= scheduled_event.friendly_date %> | <%= scheduled_event.friendly_time %></h5>
  
    <a data-confirm="Are you sure you want to edit this scheduled event?" href="/venues/<%= scheduled_event.venue_id %>/events/<%= scheduled_event.event_id %>/scheduled_events/<%= scheduled_event.id %>/edit" rel="nofollow" role="button" class="btn btn-default back-button">Edit Scheduled Event</a>
    <a data-confirm="Are you sure you want to delete this scheduled event?" data-method="delete" href="/venues/<%= scheduled_event.venue_id %>/events/<%= scheduled_event.event_id %>/scheduled_events/<%= scheduled_event.id %>" rel="nofollow" role="button" class="btn btn-default back-button">Delete Scheduled Event</a>
  <hr>
<% end %>