<h1>Events matching "<%= @zip_for_sg %>"</h1>

<% @zip_events.each do |zip_event| %>
  <% if zip_event.class == Event %>
    <h3><%= link_to zip_event.name, "/venues/#{zip_event.venue_id}/events/#{zip_event.id}" %></h3>
    <%= zip_event.venue.name %>
    <br><%= zip_event.venue.full_address %>
  <% else %>
    <h3><%= link_to zip_event["title"], "/sg_venues/#{zip_event["venue"]["id"]}" %></h3>
    <%= zip_event["venue"]["name"] %>
    <br><%= zip_event["venue"]["address"] %>, <%= zip_event["venue"]["extended_address"] %>
  <% end %>
  <hr>
<% end %>

