<% if @venue.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@venue.errors.count, "error") %></h2>
 
    <ul>
    <% @venue.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @event && @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %></h2>
 
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2><%= @venue.name %></h2>

<div id="venue-default-photo">
<% if @venue.image %>
  <%= image_tag @venue.image, :style => 'max-height: 300px;' %>
<% else %>
  <img src="http://s23.postimg.org/h1xvhiszf/image_coming_soon_gray_bg.png" />
<% end %>
</div>

<h4>Address: <%= @venue.full_address %></h4>
<h4>Phone Number: <%= @venue.phone %></h4>
<% if @venue.website != nil %>
  <h4>Website: <%= link_to "#{@venue.website}", @venue.website %></h4>
<% end %>
<%= link_to "View Seating Information", "/venues/#{@venue.id}/seats", :class =>"btn btn-default btn-sm active" %>

<h3>Upcoming Events</h3>

<table>
  <tr>
    <td>Show</td>
    <td>Date</td>
    <td>Time</td>
    <td></td>
  </tr>

 <% @events.each do |event| %>
  <% event.scheduled_events.each do |scheduled_event|%>
  <% if scheduled_event.date_time >= Time.now %>
    <tr>
      <td><%= link_to scheduled_event.event.name, "/venues/#{@venue.id}/events/#{scheduled_event.event.id}" %></td>
      <td><%= scheduled_event.friendly_date %></td>
      <td><%= scheduled_event.friendly_time %></td>
      <td><%= link_to "Buy Tickets", scheduled_event.buy_ticket_link %></td>
    </tr>
  <% end %>
  <% end %>
<% end %>
</table>

<% if current_user && current_user.vendor %>

<h3>Add Events</h3>

<%= form_tag "/venues/#{@venue.id}/events", method: :post do %>

  <div><%= label_tag "Name:" %></div>
  <div><%= text_field_tag :name, @event.name %></div>

  <div><%= label_tag "Featured Performers:" %><div>
  <div><%= text_field_tag :featured_performers, @event.featured_performers %></div>

  <div><%= label_tag "Event Type:" %></div>
  <div><%= text_field_tag :event_type, @event.event_type %></div>

  <div><%= label_tag "Description:" %></div>
  <div><%= text_area_tag :description, @event.description, :size => "50 x 3" %></div>

  <div id="submit-new"><%= submit_tag "Submit Event" %></div>

<% end %>
<% end %>

<h3>Venue Reviews</h3>
<%= link_to "Add New Review", "/venues/#{@venue.id}/reviews/new", :class =>"btn btn-default btn-xs active" if user_signed_in? %>

<% @reviews.each do |review| %>
  <div> 
    <h6>user: <%= review.user.email %></h6>
    <div style="margin-top:-8px;margin-left:10px;">"<%= review.content %>"</div>
    <hr style="margin-top:8px;">
  </div>

<% end %>

<h3>Restaurants Nearby</h3>
<% if current_user && current_user.vendor %>
  <%= link_to "Add Restaurant", "/venues/#{@venue.id}/restaurants/new", :class =>"btn btn-default btn-xs active" %>
<% end %>

<% @restaurants.each do |restaurant| %>
  <div> 
    <h5><%= restaurant.name %></h5>
    <%= restaurant.full_address %>
    <br><%= restaurant.food_type %>
    <hr>
  </div>

<% end %>






