<% if @venue.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@venue.errors.count, "error") %></h2>
 
    <ul>
    <% @venue.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1><%= @venue.name %></h1>
<br>
<div id="venue-default-photo">
<% if @venue.image != "" %>
  <%= image_tag @venue.image, :style => 'max-height: 300px;' %>
<% else %>
  <%= image_tag('image-unavailable.png') %>
<% end %>
</div>

<div id="venue-info">
  <h5 id="address">Address: <%= @venue.full_address %></h5>
  <% if @venue.phone %>
    <h5 id="phone">Phone Number: <%= @venue.phone %></h5>
  <% end %>
  <% if @venue.website != "" %>
    <h5 id="website"><%= link_to "Venue Website", @venue.website %></h5>
  <% end %>
</div>

<% if current_user && current_user.admin || current_user && current_user.id == @venue.user_id %>
  <a data-confirm="Are you sure you want to edit this venue?" href="/venues/<%= @venue.id %>/edit" rel="nofollow" role="button" class="btn btn-default btn-xs active">Edit Venue</a>
  <a data-confirm="Are you sure you want to delete this venue?" data-method="delete" href="/venues/<%= @venue.id %>" rel="nofollow" role="button" class="btn btn-default btn-xs active">Delete Venue</a>
<% end %>

<%= link_to "View Seating Information", "/venues/#{@venue.id}/seats", :class =>"btn btn-default btn-xs active" %>

<h3>Upcoming Events</h3>
<% if current_user && current_user.admin || current_user && current_user.id == @venue.user_id %>
  <%= link_to "Add New Event", "/venues/#{@venue.id}/events/new", :class =>"btn btn-default btn-xs active" %>
<% end %>

<% if @scheduled_events[0] && @scheduled_events.last.date_time >= Time.now %>
  <table>
    <tr>
      <th>Date</th>
      <th>Time</th>
    </tr>
<% else %>
  <p>No events currently scheduled</p>
<% end %>

<% @scheduled_events.each do |scheduled_event|%>
    <% if scheduled_event.date_time >= Time.now %>
      <tr>
        <td><%= link_to scheduled_event.event.name, "/venues/#{@venue.id}/events/#{scheduled_event.event.id}" %></td>
        <td><%= scheduled_event.friendly_date %></td>
        <td><%= scheduled_event.friendly_time %></td>
        <td><%= link_to "Buy Tickets", scheduled_event.buy_ticket_link %></td>
        <% if current_user && current_user.admin || current_user && current_user.id == @venue.user_id %>
          <td><a data-confirm="Are you sure you want to edit this scheduled event?" href="/venues/<%= scheduled_event.venue_id %>/events/<%= scheduled_event.event_id %>/scheduled_events/<%= scheduled_event.id %>/edit" rel="nofollow" role="button" class="btn btn-default btn-xs active">Edit</a></td>
          <td><a data-confirm="Are you sure you want to delete this scheduled event?" data-method="delete" href="/venues/<%= scheduled_event.venue_id %>/events/<%= scheduled_event.event_id %>/scheduled_events/<%= scheduled_event.id %>" rel="nofollow" role="button" class="btn btn-default btn-xs active">Delete</a></td>
        <% end %>
      </tr>
    <% end %>
<% end %>
</table>

<h3>Venue Reviews</h3>
<%= link_to "Add New Review", "/venues/#{@venue.id}/reviews/new", :class =>"btn btn-default btn-xs active" if user_signed_in? %>
<% if @reviews[0] %>
  <% @reviews.each do |review| %>
    <div> 
      "<%= review.content %>"
      <% if current_user && current_user.admin || current_user && current_user.id == review.user_id %>
        <%= link_to "edit review", "/venues/#{@venue.id}/reviews/#{review.id}/edit", :class =>"btn btn-default btn-xs active" %>
        <a data-confirm="Are you sure you want to delete this review?" data-method="delete" href="/venues/<%= review.venue_id %>/reviews/<%= review.id %>" rel="nofollow" role="button" class="btn btn-default btn-xs active">delete review</a>
      <% end %>
      <hr style="margin-top:8px;">
    </div>
  <% end %>
<% else %>
  <p>No reviews for this venue at this time</p>
<% end %>

<h3>Restaurants Nearby</h3>


<div id="map" style="width: 500px; height: 400px">
</div>

<div id="restaurant-results">

<% @gp_restaurants.each do |gp_restaurant| %>
  <div>
    <h4><%= link_to gp_restaurant.name, "/restaurant_details/#{gp_restaurant.place_id}" %></h4> 
    <%= gp_restaurant.vicinity %><br>
   Price Level:
    <% if gp_restaurant.price_level && gp_restaurant.rating %>
      <%= @price_level * gp_restaurant.price_level.to_i %> || Rating: <%= gp_restaurant.rating %>
    <% elsif gp_restaurant.price_level %>
      <%= @price_level * gp_restaurant.price_level.to_i %> || Rating: unavailable
    <% else %>
      unavailable || Rating: <%= gp_restaurant.rating %>
    <% end %>
    <br>
    Distance from venue: <%= Geocoder::Calculations.distance_between([@venue.latitude,@venue.longitude], [gp_restaurant.lat,gp_restaurant.lng]).round(3) %> miles
  </div>
<% end %>
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?&key=<%= ENV['google_maps_js_key'] %>"></script>
<script type="text/javascript">
    var venueLat = <%= @venue.latitude %>;
    var venueLon = <%= @venue.longitude %>;
    var markers = [];

    <% @gp_restaurants.each do |gp_restaurant| %>
      var hash = {
        "title": '<%= gp_restaurant.name %>',
        "lat": '<%= gp_restaurant.lat %>',
        "lng": '<%= gp_restaurant.lng %>',
        "description": '<%= gp_restaurant.name %> <br><%= gp_restaurant.vicinity %>'
      };

      markers.push(hash);
    <% end %>

    window.onload = function () {
        LoadMap();
    }
    function LoadMap() {
        var mapOptions = {
            center: new google.maps.LatLng(venueLat, venueLon),
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        //Create and open InfoWindow.
        var infoWindow = new google.maps.InfoWindow();

        for (var i = 0; i < markers.length; i++) {
            var data = markers[i];
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: data.title
            });

            //Attach click event to the marker.
            (function (marker, data) {
                google.maps.event.addListener(marker, "click", function (e) {
                    //Wrap the content inside an HTML DIV in order to set height and width of InfoWindow.
                    infoWindow.setContent("<div style = 'width:200px;min-height:40px'>" + data.description + "</div>");
                    infoWindow.open(map, marker);
                });
            })(marker, data);
        }
    }
</script>






