<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this product from being added to your cart:</h2>
 
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2><%= @venue.name %></h2>

<div id="venue-default-photo">
  <img src="http://s23.postimg.org/h1xvhiszf/image_coming_soon_gray_bg.png"/>
</div>

<h4>Address: <%= @venue.full_address %></h4>
<h4>Phone Number: <%= @venue.phone %></h4>
<% if @venue.website != nil %>
  <h4>Website: <%= @venue.website %></h4>
<% end %>

<h3>Upcoming Events</h3>

<table>
  <tr>
    <td>Show</td>
    <td>Date</td>
    <td>Time</td>
    <td></td>
  </tr>

 <% @events.each do |event| %>
   <% all_scheduled_events = event.scheduled_events %>
   <% all_scheduled_events.each do |scheduled_event|%>
    <tr>
      <td><%= scheduled_event.event.name %></td>
      <td><%= scheduled_event.date %></td>
      <td><%= scheduled_event.time %></td>
      <td><%= link_to "Buy Tickets", scheduled_event.buy_ticket_link %></td>
    </tr>
  <% end %>
<% end %>
</table>

<% if current_user && current_user.vendor %>

<h3>Add Events</h3>

<%= form_tag "/venues/#{@venue.id}/events", method: :post do %>

  <div>
    <p class="label_tag"><%= label_tag "Name:" %></p>
    <%= text_field_tag :name, @event.name %>
  </div>

  <div>
    <p class="label_tag"><%= label_tag "Featured Performers:" %></p>
    <%= text_field_tag :featured_performers, @event.featured_performers %>
  </div>

  <div>
    <p class="label_tag"><%= label_tag "Event Type:" %></p>
    <%= text_field_tag :event_type, @event.event_type %>
  </div>

  <div>
    <p class="label_tag"><%= label_tag "Description:" %></p>
    <%= text_area_tag :description, @event.description, :size => "50 x 5" %>
  </div>

  <div id="submit-new"><%= submit_tag "Submit Event" %></div>

<% end %>
<% end %>