<body onload="initSearchTabs()">
<div id="venue-searching">
  <ul id="tabs">
    <li><a href="#name">Venues By Name</a></li>
    <li><a href="#zip">Venues By Zip</a></li>
  </ul>

  <div class="venue-search-bar tabContent" id="name">
    <%= form_tag "/venue_name_search_result" do %>
    <div class="venue-search-field"><%= text_field_tag :search, nil, placeholder: "search venues by name" %>
   <%= button_tag "Search" %>
    </div>
    <% end %>
  </div>

  <div class="venue-search-bar tabContent" id="zip">
    <%= form_tag "/venue_zip_search_result" do %>
    <div class="venue-search-field"><%= text_field_tag :search, nil, placeholder: "search venues by zip code" %>
    <%= button_tag "Search" %>
    </div>
    <% end %>
  </div>
</div>
</body>

    