<h2><%= @restaurant.name %></h2>

<h3>Food Type: <%= @restaurant.food_type %></h3>
<h3>Address: <%= @restaurant.full_address %></h3>

<br>
<h3>Hours: <%= @restaurant.hours%></h3>
<h3>Phone: <%= @restaurant.phone%></h3>
<h3>Visit our website: <%= @restaurant.website%></h3>
<h3>Check out our menu: <%= @restaurant.website%></h3>
