<!DOCTYPE html>
<html>
<head>
  <title>TheaterApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div><%= link_to "Venues", "/venues" %></div>

<div> 
  <% Venue.all.each do |venue| %>
    <%= link_to venue.name, "/venues/#{venue.id}" %> 
  <% end %>
</div>

<div><%= link_to "All Events", "/events" %></div>

<% if current_user && current_user.vendor %>
  <div><%= link_to "Add New Venue", "/venues/new" %></div>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Sign Out", "/users/sign_out", method: :delete if user_signed_in?%>
<% else %>
  <%= link_to "Sign Up", "/users/sign_up" %>
  <%= link_to "Sign In", "/users/sign_in" %>
<% end %>






<% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= message %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
